/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 14, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
/* line 22, ../sass/layouts/_responsive.scss */
.front #content .page__title {
  text-align: center;
}

/**
 * Use 4 grid columns for smaller screens.
 **/
/**
* Use 8 grid columns for tablet screens.
**/
/**
* Use 16 grid columns for Larger screens.
**/
@media (min-width: 1440px) {
  /* line 169, ../sass/layouts/_responsive.scss */
  #main {
    clear: both;
  }

  /* line 174, ../sass/layouts/_responsive.scss */
  aside {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
    margin-top: -560px;
  }

  /* line 182, ../sass/layouts/_responsive.scss */
  article {
    width: 74.68354%;
    float: right;
    margin-right: 0;
    outline: 1px solid #999999;
  }

  /* line 187, ../sass/layouts/_responsive.scss */
  #block-views-biographies-block {
    width: 74.68354%;
    float: right;
    margin-right: 0;
    outline: 1px solid #999999;
  }

  /* line 192, ../sass/layouts/_responsive.scss */
  #block-block-3 {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
    outline: 1px solid #999999;
    clear: right;
  }

  /* line 205, ../sass/layouts/_responsive.scss */
  #block-block-8 {
    width: 24.05063%;
    float: left;
    margin-left: 50.63291%;
    margin-right: -100%;
    outline: 1px solid #999999;
  }

  /* line 214, ../sass/layouts/_responsive.scss */
  #block-block-9 {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    outline: 1px solid #999999;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
/* line 11, ../sass/components/_misc-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 16, ../sass/components/_misc-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 26, ../sass/components/_misc-rtl.scss */
#navigation .links,
#navigation .menu {
  text-align: right;
}
/* line 30, ../sass/components/_misc-rtl.scss */
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
/* line 41, ../sass/components/_misc-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
/* line 58, ../sass/components/_misc-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
/* line 77, ../sass/components/_misc-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 84, ../sass/components/_misc-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
/* line 91, ../sass/components/_misc-rtl.scss */
.more-link {
  text-align: left;
}

/* line 94, ../sass/components/_misc-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 97, ../sass/components/_misc-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
/* line 105, ../sass/components/_misc-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
/* line 117, ../sass/components/_misc-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
/* line 127, ../sass/components/_misc-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 131, ../sass/components/_misc-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
/* line 142, ../sass/components/_misc-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 155, ../sass/components/_misc-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 160, ../sass/components/_misc-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
