/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
//@import "layouts/fixed";
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "components/header";
@import "components/footer";
@import "components/triptych";
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

//main content styling

/**
* Breakpoint testing
**/

body{
	@include breakpoint($bp-handheld) {
		background: $clr-gray;
	}
	@include breakpoint($bp-tablet) {
		background: $red;
	}
	@include breakpoint($bp-desktop) {
		background: $clr-lt-blue;
	}
	@include breakpoint($bp-wide){
		background: $clr-lt-gray;
	}
}

/**
* End Breakpoint testing
**/



article p{
	text-align: center;
}

//flex-slider styling

.flexslider{
	margin: 0;
	border: 0;
}

#transpbody{
	position: relative;
	top: -112px;
	background-color: rgba(0,0,0,.7);
	padding:2em;
}

#transtitle{
	color: $white;
	margin-left: 2em;
	z-index: 2;
}

#trbody{
	color: $white;

	& p{
		margin: 0 0 0 2em;
	}
}

.flex-control-nav{
	z-index:	10;
	bottom:	14em;
	width:	15%;
	right:	0;
}

#navigation{
	display: block;
	width: 310px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 232px;
}

//Portfolio slider styling

//#prjinfo{
//	position: relative;
//	top: -320px;
//	right: -55em;
//	background-color: rgba(0,0,0,.5);
//	padding: 1em;
//	width: 18em;
//}//

//#prjbody{
//	color: $white;
//	z-index:2;
//}//

//.view-portfolio-view .flex-control-nav{
//	z-index: 10;
//	bottom:	21em;
//	width:	15%;
//	right:	1.5em;
//}

//Footer styling

#footer-wrapper{
	clear: both;
}

//Project Node Styling

.field-name-field-project-image{
	
	img{
		border-bottom: 5px solid $black;
	}
}

.node-project{

	.field-name-field-project-additional-images{
		background: $clr-gray;
//		padding: 10px 5px;
		
		.field-label{
			padding: 5px 0 5px 20px;
		}

		.field-items{
//			padding-top: 10px;
			padding-left: 20px;

			.field-item{
				padding-bottom: 5px;
			}
		}
	}
}

