/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
//@import "layouts/fixed";
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "components/header";
@import "components/footer";
@import "components/triptych";
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

//main content styling

/**
* Breakpoint testing
**/

body{
	@include breakpoint($bp-handheld) {
		background: $clr-gray;
	}
	@include breakpoint($bp-tablet) {
		background: $red;
	}
	@include breakpoint($bp-desktop) {
		background: $clr-lt-blue;
	}
	@include breakpoint($bp-wide){
		background: $clr-lt-gray;
	}
}

/**
* End Breakpoint testing
**/



article p{
	text-align: center;
}

nav.breadcrumb{
	padding-bottom: 0.5em;
	margin-bottom: 1.5em;
}

//flex-slider styling

.flexslider{
	margin: 0;
	border: 0;
	height: 503px;
}

#transpbody{
	position: relative;
	top: -112px;
	background-color: rgba(0,0,0,.7);
	padding:2em;
}

#transtitle{
	color: $white;
	margin-left: 2em;
	z-index: 2;
}

#trbody{
	color: $white;

	& p{
		margin: 0 0 0 2em;
	}
}

.flex-control-nav{
	z-index: 10;
	bottom:	0;
	width:	15%;
	right:	0;
}

.page-node-4{
	.flex-control-nav{
		z-index: 100;

		.flex-control-paging{
			li a{
				background-color: rgba(255,255,255,0.5);
			}
		}
	}

	#content{

		.page__title{
			text-align: center;
		}
	}
}

#navigation{
	display: block;
	width: 310px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 232px;
}

/*Portfolio slider styling
--------------------------------------------------------*/

.slides{

	.views-field-body{
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		bottom: 0;
		left: 57%;
		width: 25%;

		#prjinfo{
			padding: 10px 15px;

			#prjtitle{

				a{
					color: $clr-orange;
					text-decoration: none;
				}
			}

			#prjbody{

				p{
					color: $white;
					margin-top: 0.5em 0;
				}
			}
		}
	}
}


/* Portfolio Filter Styles
------------------------------------------------------*/

#block-views-projects-block-4{

	h2.block__title.block-title{
		text-align: center;
	}

	.views-exposed-form,
	.views-exposed-widget {
		float: none;
		padding: 0.5em 1em 0 1em;
		margin: auto;
		width: 79%;
	}	

	.bef-select-as-links {
		background: rgba(29, 28, 28, 0.24);
		border-radius: 0.25em;
		padding: 0.5em 0.5em;
		text-align: center;

		.form-item{

			.form-item{
				display: inline-block;
				padding: 0.25em 4em;

				&.selected{
					font-weight: bold;
					text-transform: uppercase;

				}

				a{
					color: $black;
					text-decoration: none;

					&:hover{
						color: $white;
					}
				}

				.form-item{
					border-right: 1px solid $black;

					&:last-child{
						border-right: none;
					}

				}
			}
		}	
	}

	/* Portfolio Image Grid Styles
	----------------------------------------*/

	table.views-view-grid.cols-4{
		margin: 1.4em auto;

		td{
			padding: 0 .75em 1.25em 0;

			&:last-child{
				padding-right: 0;
			}

			.views-field-title{
				text-align: center;
			}

			span a{
				color: $black;
				text-decoration: none;
			}

			a img{
				//padding: 5px 5px 5px 5px;
				//border: 1px solid #ccc;
				//margin-bottom: 10px;

				&:hover{
					//border: 5px solid $clr-orange;
					//border-style: inset;
				}

			}
		}
	}	

}


//Footer styling

#footer-wrapper{
	clear: both;
}

.region-footer{
	float: right;
}

#block-menu-menu-policy-menu{
	margin-left: 295px;
}

//Project Node Styling

.field-name-field-project-image{
	
	img{
		border-bottom: 5px solid $black;
	}
}

.node-project{

	.field-name-field-project-additional-images{
		background: $clr-gray;
//		padding: 10px 5px;
		
		.field-label{
			padding: 5px 0 5px 20px;
		}

		.field-items{
//			padding-top: 10px;
			padding-left: 20px;

			.field-item{
				padding-bottom: 5px;
			}
		}
	}
}

/* Blog styling
---------------------------------------------------- */
.page-blog{

	.view-id-articles{
		margin-bottom: 1.75em;

		.views-row{
			border-bottom: 1px solid $clr-gray;
			margin-bottom: 1.75em;

			.views-field-created-2{
				height: 60px;
				width: 45px;
				text-transform: uppercase;
				float: left;
				position: relative;
				top: -25px;

				.date-date{
					text-align: center;
					background-color: $white;

					.date-month{
						padding: 2px 5px;
						background-color: $clr-orange;
						display: block;
					}

					.date-day{
						font-weight: bold;
						line-height: 1.25em;
						font-size: x-large;
					}
				}
			}

			.views-field-title{
				padding-left: 60px;

				a{
					color: $black;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}

			.views-field-body{
				padding-left: 60px;
			}

			.views-field-view-node{
				padding-bottom: 0.75em;
				padding-left: 60px;

				a{
					text-decoration: none;
					background: rgba($clr-blue,0.9);
					color: $black;
					padding: .45em .75em;
					border-radius: .55em;

					&:hover{
						color: $white;
					}

				}
			}
		}


	}

	.region-sidebar-second{	

		#block-views-articles-block-1{

			.view-id-articles{
				margin-left: 0;

				.views-row{
					border-bottom: 0px none;
					margin-bottom: 0;
					display: inline-block;
					margin-bottom: 5px;

					&:last-child{
						margin-bottom: 0;
					}

					.views-field-field-tags{

						a{
							color: $black;
							text-decoration: none;
							background: $clr-lt-gray;
							padding: .25em .5em;
							font-size: 14px;

							&:hover{
								color: $white;
								background: $clr-gray;
							}

						}
					}
				}
			}
		}

		#block-block-6{
			border-top: 5px solid $black;
			width: 80%;
			margin: auto;
			text-align: center;
		}

		#block-views-articles-block-1,
		#block-views-archive-block{
			padding-left: 10px;
		}		
	}


}

.node-type-article{

	.node-article{
		margin-bottom: 1.75em;

		.field-name-field-tags{

			.field-items{

				.field-item{
					display: inline-block;
					padding-right: .75em;

					&:last-child{
						padding-right: 0;
					}

					a{
						color: $red;
						text-decoration: none;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}

		.field-name-body{

			p{
				text-align: justify;
			}
		}
	}
}

.node-type-article,
.node-type-project{

	.field-name-body{

		p{
			text-align: justify;
		}
	}

	.region-sidebar-second{

		#block-block-10,
		#block-block-11{
			border-top: 5px solid $black;
			width: 80%;
			margin: auto;
			text-align: center;

			a{
				color: $black;
				text-decoration: none;

				&:hover{
					color: $red;
				}
			}
		}

		#block-views-projects-block-3{
			padding-left: 10px;

			.views-field-title{
				border-bottom: 1px dotted $black;
				width: 95%;

				a{
					color: blueviolet;
					text-decoration: none;

					&:hover{
						color: $black;
					}
				}
			}
		}
	}
}



