#footer-wrapper{
	background: $clr-lt-gray;
	border-top: 20px solid $clr-orange;
	padding-top: 1em;

	a{
		color: $clr-orange;
		text-decoration: none;
		&:hover{
			color: $white;
		}
	}
	.inside{
		background: $clr-drk-gray;
	}
	#footer{
		background: transparent;
		padding: 10px;
		color: $white;
		
		#block-menu-menu-policy-menu ul li{
			display: inline-block;
		}
		ul.menu{
			padding: 0;
		}
	}
	#footer-columns{

		.region{
		}

		#block-views-projects-block{
			background: $clr-gray;
			border-radius: 1em;
			padding: 0.5em 1em 0.5em 1em;
		}

		#block-on-the-web-0,
		#block-instagram-block-instagram-block,
		#block-twitter-block-1{
			padding-top: 0.5em;
		}

		#block-instagram-block-instagram-block,
		#block-views-projects-block{
			
			img{
				width: 100%;
				height: auto;
			}
		}
//		.region-footer-firstcolumn,
//		.region-footer-secondcolumn,
//		.region-footer-thirdcolumn,
//		.region-footer-fourthcolumn{
//			padding: 0 5px 0 5px;
//			float: left;
//			width: 24%;
//		}
	}
}
