#header{
	background: $black;
//	padding: 1em;
	height: $nav-height;
}

.header__region{
	clear: inherit;
	float: left;
//	padding-left: 150px;
	padding-top: 10px;
}

.sf-menu li{
	padding: 0 4.5em 0 0;

	a{
		color: $white;
		text-decoration: none;
		display: block;
		height: 62px;		

		&:hover{
			color: $clr-orange;
			background: url('../images/nav-arrow.png') no-repeat 50% 50px;
			height: 62px;
		}
	}
}

.sf-menu .active-trail a{
	color: $clr-orange;
	background: url('../images/nav-arrow.png') no-repeat 50% 50px;
	height: 62px;
}