//#triptych{
//	.region{
//		text-align: center;
//	}
//	.block__title{
//		text-align: center;
//	}
//	.block-image{
//		text-align: center;
//	}
//}

.region{
	}
	.region-triptych-first, .region-triptych-second, .region-triptych-third{
	width:	33%;
	float:	left;
	text-align:	center;
}