//============================================================================
// Grid and Layout Styles
//============================================================================

//----------------------------------------------------------------------------
// Variables
//----------------------------------------------------------------------------

// Susy Setup
// @see http://susy.oddbird.net/guides/getting-started
// The basic susy grid is composed using two simple mixins:
// Use the container() mixin to create you initial grid context.
// Use the span-columns() mixin to declare the width of an element on the grid.

$Susy: (
  debug: (
    image:  show,
    color:  blue,
    output: overlay,
    ),
  );

// fixed desktop

$total-columns: 16;        // a 4-column grid
$column-width: 47px;        // each column is 65px wide
$gutter-width: 12px;        // 10px gutters between columns
$grid-padding: $gutter-width; // grid-padding equal to gutters

// Susy breakpoints         // media layouts

$bp-desktop: 980px;       // desktop breakpoint, 960px wide

#main{
  @include container($bp-desktop);
}

.sidebars{
  //@include span(isolate 3 at 2 of $total-columns);
  @include span(4 of $total-columns);
  padding-top: 100px;
}

#content{
  //@include span(isolate 9 at 5 of $total-columns omega);
  @include span(12 of $total-columns omega);
}

//#block-views-biographies-block{
//  @include span(9 of 9);
//}//

#block-block-3{
  @include span(3 of 9);
}

#block-block-8,{
  @include span(3 of 9);
}

#block-block-9{
  @include span(3 of 9 omega);
}



//  .sidebar-second{
//    @include span-columns(3,16);
//  }
//}
//.two-sidebars .main-content{
//  @include span-columns(9,16);
//}
//.one-sidebar.sidebar-first #main{
//  @include span(9);
//}
//.one-sidebar.sidebar-second .main-content{
//  @include span-columns(9,16);
//}

//.no-sidebars #main{
//  @include span-columns(16,16);
//}



/**
 * The layout when there is only one sidebar, the left one.
 */
//aside{
//  /* Span 3 columns, starting in 2nd column from left. */
//  @include container;
//    .region-sidebar-first{
//      @include span-columns(3, 2, $total-columns)
//    }
//  }//



