
/**
* Configuring Susy defaults
**/

$susy: (
//	columns: 16,
	global-box-sizing: border-box,
	debug: (
		image: show-columns,
		color: rgba(#66f, .25),
//		output: overlay,
//		toggle: top right,
	),
	output: float,
);


//@include border-box-sizing;

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 **/

.fixed-width,
.header_region_wrapper,
#footer-columns,
#footer,
#triptych{
 	max-width: 1200px;
 	margin: 0 auto;
}

.front #content{
	.page__title{
		text-align: center;
		margin: 0 auto;
	}
}

.section-terms-use,
.section-privacy-policy{
	article p{
		text-align: justify;
	}
}

/**
 * Use 4 grid columns for smaller screens.
 **/


@include susy-breakpoint($bp-handheld, 4){

	#main{
		@include container();
	}

	.no-sidebars{
//		#header{
//			padding: .5em;
//		}

//		.header__region{
//			padding-left: 185px;
//		}

		#triptych{
			.region-triptych-first,
			.region-triptych-second,
			.region-triptych-third{
				@include span(4);
			}
		}						
	}

	.sidebar-first{
		article{
			@include span(4);
		}
		aside{
			@include span(4);
		}

//		#header{
//			padding: .5em;
//		}//

//		.header__region{
//			padding-left: 185px;
//		}

		#triptych{
			.region-triptych-first,
			.region-triptych-second,
			.region-triptych-third{
				@include span(4);
			}
		}

		#footer-columns{
			.region-footer-firstcolumn,
			.region-footer-secondcolumn,
			.region-footer-thirdcolumn,
			.region-footer-fourthcolumn{
				@include span(4);
			}
		}
	}

}

 /**
 * Use 8 grid columns for tablet screens.
 **/

@include susy-breakpoint($bp-tablet, 8){

#main{
	@include container();
}

	.no-sidebars{

		#triptych{
			.region-triptych-first{
				@include gallery(1 of 3);
			}
			.region-triptych-second{
				@include gallery(1 of 3);
			}
			.region-triptych-third{
				@include gallery(1 of 3);
				&:last-child{
					@include last;
				}
			}
		}

		#footer-columns{
			.region-footer-firstcolumn,
			.region-footer-secondcolumn,{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
			.region-footer-thirdcolumn,
			.region-footer-fourthcolumn{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
		}

	}

	.sidebar-first{

		article{
//			@include span(6 omega);
			width: span(6 of 8);
			@include isolate(3 of 8);
			outline: 1px solid $clr-gray;
		}

//		aside{
//			width: span(2 of 8);
//			@include isolate(0);
//			outline: 1px solid $clr-gray;
//		}

//		#block-views-biographies-block{
//			@include span(6 omega);
//			width: span(6 of 8);
//			@include isolate(3 of 8);
//			outline: 1px solid $clr-gray;
//		}

		#block-block-3{
			@include span(6 omega);
//			width: span(6 of 8);
//			@include isolate(3 of 8);
			outline: 1px solid $clr-gray;
		}

		#block-block-8{
			@include span(6 omega);
//			width: span(6 of 8);
//			@include isolate(3 of 8);
			outline: 1px solid $clr-gray;
		}		

		#block-block-9{
			@include span(6 omega);
//			width: span(6 of 8);
//			@include isolate(3 of 8);
			outline: 1px solid $clr-gray;
		}

		#triptych{
//			.region{
//				padding: gutter();
//			}
			.region-triptych-first{
				@include gallery(1 of 3);
			}
			.region-triptych-second{
				@include gallery(1 of 3);
			}
			.region-triptych-third{
				@include gallery(1 of 3);
				&:last-child{
					@include last;
				}
			}
		}

		#footer-columns{
			.region-footer-firstcolumn,
			.region-footer-secondcolumn,{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
			.region-footer-thirdcolumn,
			.region-footer-fourthcolumn{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
		}
	}

	.sidebar-second{

		/* Span 2 columns, starting in the 6th column from the left */
		aside{
			@include span(2 omega);
			outline: 1px solid $clr-gray;
		}		

		.field-name-field-client-name{
			@include span(4 of 8);
		}

		.field-name-field-project-link{
			@include span(4 of 8);
		}

		.field-name-field-project-category{
			@include span(4 of 8);
		}	

		.field-name-field-service-provided{
			@include span(4 of 8);
		}		

		.field-name-field-project-additional-images{
			@include span(4 at 5 of 8);

			.field-items{

				.field-item{
					@include gallery(1 of 4);
				}
			}
		}

	}	

}

 /**
 * Use 16 grid columns for Larger screens.
 **/


@include susy-breakpoint($bp-desktop, 16){

#main{
	@include container();
}


}

//THIS WORKS!
//.region-sidebar-first{
//	@include susy-breakpoint($bp-wide, 16){
//		@include span(4);
//	}
//}


@include susy-breakpoint($bp-wide, 16){

	#main{
		@include container();
	}


	/**
	* The Layout when there are no sidebars.
	**/
	.no-sidebars{

		#content{
			@include full;

			.page__title{
				width: span(14);
				//@include push(1);
				outline: 1px solid $clr-gray;
			}

			nav.breadcrumb{
				width: span(13);
				@include isolate(13 at 2);
				outline: 1px solid $clr-gray;
				clear: both;
			}

			.bef-select-as-links{
				width: span(12);
				margin: 0 auto;
			}

		}

		#footer-columns{
			.region-footer-firstcolumn,
			.region-footer-secondcolumn,{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
			.region-footer-thirdcolumn,
			.region-footer-fourthcolumn{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
		}

	}	


	/**
	* The Layout when there is only one sidebar, the left one.
	**/
//	.sidebar-first{
	.one-sidebar{	

		.page__title{
			width:  span(14);
//			@include isolate(15 at 2);
			//@include push(1);
			outline: 1px solid $clr-gray;
		}

		nav.breadcrumb{
			width: span(13);
			@include isolate(13 at 2);
			outline: 1px solid $clr-gray;
			clear: both;
		}

		/* Span 12 columns, starting in the 5th column from the left */
		article{
			@include span(12 omega);
//			width: span(12 of 16);
//			@include isolate(5 of 16);
			margin-bottom: gutter();
			outline: 1px solid $clr-gray;
			clear: both;
		}

		/* Span 12 columns, starting in the 4th column from the left */
		.view-articles{
			@include span(12);
			outline: 1px solid $clr-gray;
		}		
				
		/* Span 4 columns, starting in the 1st column from the left */
		aside{
//			@include span(4);
			width: span(4);
			@include isolate(4 at 0);
//			@include span(4 at 0 alpha);
//			width: span(4 of 16);
			outline: 1px solid $clr-gray;
			clear: left;			
		}

		#block-views-biographies-block{
			width: span(12);
			@include isolate(12 at 5);
//			@include push(4);
			
//			@include span(12);
//			@include push(4);
			clear: both;
//			@include isolate(5 of 16);
//			width: span(12 of 16);
//			@include isolate(5 of 16);
			outline: 1px solid $clr-gray;
//			@include clearfix;
		}

		#block-views-projects-block-4{
			clear: both;
		}		

//		#block-block-3{
//			@include span(12 omega);
//			width: span(4);
//			@include isolate(5 of 16);
//			@include span(4 of 12);
//			@include span(isolate 4 at 5 of 16); //THIS WORKS
//			outline: 1px solid $clr-gray;
//		}	

//		#block-block-8{
//			@include span(12 omega);
//			width: span(4 of 16);
//			@include isolate(9 of 16);
//			@include span(4 of 12); // THIS WORKS
//			@include span(isolate 4 at 9 of 16);
//			outline: 1px solid $clr-gray;
//		}

//		#block-block-9{
//			@include span(12 omega);
//			width: span(4 of 16);
//			@include isolate(13 of 16);
//			@include span(4 of 12 omega);
//			@include span(isolate 4 at 13 of 16 omega); // THIS WORKS
//			outline: 1px solid $clr-gray;
//		}

		#footer-columns{
			.region-footer-firstcolumn,
			.region-footer-secondcolumn,{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
			.region-footer-thirdcolumn,
			.region-footer-fourthcolumn{
				@include span(4);
				&:last-child{
					@include last;
				}
			}
		}
			
	}	

	/**
	* The Layout when there is only one sidebar, the right one.
	**/
	.sidebar-second{

		.page__title{
			width: span(14);
//			@include isolate(15 at 2);
			//@include push(1);
			outline: 1px solid $clr-gray;
		}

		nav.breadcrumb{
			width: span(13);
			@include isolate(13 at 2);
			outline: 1px solid $clr-gray;
			clear: both;
		}		

		/* Span 12 columns, starting in the 1st column from the left */
		article{
			@include span(12);
			outline: 1px solid $clr-gray;
		}	

		/* Span 12 columns, starting in the 1st column from the left */
		.view-articles{
			@include span(12 alpha);
			outline: 1px solid $clr-gray;
			clear: both;
		}		

		/* Span 4 columns, starting in the 13th column from the left */
		aside{
			@include span(4 omega);
			outline: 1px solid $clr-gray;
			clear: right;
		}


		.field-name-field-project-image{
//			@include isolate(5 of 12);
		}

//		.field-name-body{
//			@include span(4 of 12);
//		}

		.field-name-field-client-name{
			@include span(3 of 12);
		}

		.field-name-field-project-link{
			@include span(3 of 12);
		}

		.field-name-field-project-category{
			@include span(3 of 12);
		}

		.field-name-field-service-provided{
			@include span(3 of 12);
		}

		.field-name-field-project-additional-images{
			@include span(3 at 5 of 12);

			.field-items{

				.field-item{
					@include gallery(1 of 3);
				}
			}
		}

		.node-project{

			.field-name-body{
				@include span(4 of 12);
			}
		}

		.node-article{

			.field-name-body{
				@include full;
			}
		}

	}

	/**
	* The Layout when there are two sidebars
	**/
	.two-sidebars{

		.page__title{
			width:  span(15);
//			@include isolate(15 at 2);
			@include push(1);
			outline: 1px solid $clr-gray;
		}

		nav.breadcrumb{
			width: span(14);
			@include isolate(14 at 3);
			outline: 1px solid $clr-gray;
			clear: both;
		}		

		/* Span 10 columns, starting in the 4th column from the left */
		article{
//			@include span(10);
			width: span(10 of 16);
			@include isolate(4 of 16);
			outline: 1px solid $clr-gray;
			clear: both;			
		}

		/* Span 10 columns, starting in the 4th column from the left */
		.view-articles{
			width: span(10 of 16);
			@include isolate(4 of 16);
			outline: 1px solid $clr-gray;
			clear: both;
		}

		aside{
			clear: right;
			
			.region-sidebar-first{
				@include span(3 alpha);
				outline: 1px solid $clr-gray;
			}
			.region-sidebar-second{
				@include span(3 omega);
				outline: 1px solid $clr-gray;				
			}
		}

	}

}




